body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #923c70;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: rgb(37, 27, 35);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #161111;
    color: black;
}

main {
    text-align: justify;
}

footer {
    text-align: center;
    margin-top: 20px;
}
